version: "3.9"

services:
  api:
    build: .
    container_name: notes_api_app
    ports:
      - "8000:8000"
    volumes:
      - db_data:/app/data
    env_file: .env 
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    restart: unless-stopped
    user: "1000:1000"
  
  
  db:
    image: postgres:17
    container_name: postgres_db
    environment:
      POSTGRES_DB: testing
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 1234
    volumes:
      - db_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d testing"]
      interval: 10s
      timeout: 5s
      retries: 8
      start_period: 30s
  
  redis:
    image: redis:7-alpine
    container_name: notes_redis
    ports:
      - "6377:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped
    command: redis-server --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 3s
      timeout: 3s
      retries: 5

volumes:
  db_data:
    driver: local
  redis_data:
    driver: local
